@import "tailwindcss";

:root {
  --primary: #204c84;
  --primary-hover: #1a3d6b;
  --background: #ffffff;
  --foreground: #171717;
  --secondary-background: #f9f9f9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff; /* 0a0a0a */
    --foreground: #171717; /* ededed */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
